{% sw_extends '@Storefront/storefront/page/content/index.html.twig' %}
{% block base_main_inner %}
    <div class="row">
    <div class="col-xs-12 col-md-3">
        <h2 style="margin:20px;color:{{ config('MySlogans.config.slogancolor1') }};font-size: {{ config('MySlogans.config.sloganfont1') }}">{{ config('MySlogans.config.slogantext1') }}</h2>
    </div>
    <div class="col-xs-12 col-md-3">
        <h2 style="margin:20px;color:{{ config('MySlogans.config.slogancolor2') }};font-size: {{ config('MySlogans.config.sloganfont2') }}">{{ config('MySlogans.config.slogantext2') }}</h2>
    </div>
    <div class="col-xs-12 col-md-3">
        <h2 style="margin:20px;color:{{ config('MySlogans.config.slogancolor3') }};font-size: {{ config('MySlogans.config.sloganfont3') }}">{{ config('MySlogans.config.slogantext3') }}</h2>
    </div>
    <div class="col-xs-12 col-md-3">
        <h2 style="margin:20px;color:{{ config('MySlogans.config.slogancolor4') }};font-size: {{ config('MySlogans.config.sloganfont4') }}">{{ config('MySlogans.config.slogantext4') }}</h2>
    </div>
    </div>
    {{ parent() }}

{% endblock %}