{% sw_extends '@Storefront/storefront/page/content/index.html.twig' %}

{% block base_main_inner %}
    {% if config('MyAboshop.config.ismultiple') == 'true' %}
        {% set ans = 'multiple' %}
    {% else %}
        {% set ans = 'single' %}
    {% endif %}
    {{  dump(ans) }}
    <div class="row">

        <div class="col-md-4" style="margin: 20px">
            {% set foo = config('MyAboshop.config.mydatepicker')|split(',') %}
            {% set bar = "{{dateOfMonth()}}" %}
            {% set doe = "{{ dayOfWeek() }}" %}
            {{ dump(doe) }}
            {% set pickerProperties =
            {
                locale: app.request.locale,
                enableTime: false,
                mode: ans,
                conjunction: ',',
                minDate : context.context.extensions.testContextExtension['key1'],
                maxDate : context.context.extensions.testContextExtension['key2'],
                disable: foo,
                dateFormat: "Y-m-d"

            } %}
            <label>
                <script>
                    var a = new Date();
                </script>
                <input type="text"

                       name="customDate"
                       class="customDate"
                       value=["2021-12-12T00:12:15+00:00","2021-11-13T00:12:15+00:00"]
                       id="example-3"
                       v-on:load="myfunc(this)"
                       data-date-picker
                       data-date-picker-options="{{ pickerProperties|json_encode|escape('html_attr') }}"
                       data-id="dayOfWeek"
                       v-on:click="dayOfWeek()"

                />
                <button  id="loo"  v-on:click = "myfunc(this)">My test Button</button>
            </label>

        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
    <script>
        function ready(f) {
            /in/.test(document.readyState) ? setTimeout('ready(' + f + ')', 9) : f();
        }

        //let btn = document.getElementById("btn");
        new Vue({
            el: '#example-3',
            methods: {
                say: function (message) {
                    alert(message)
                },
                dayOfWeek: function(date){
                    return (date.getDay() === 0 || date.getDay() === 6);
                },
                dateOfMonth: function(date){
                    return (date.getDate() === 3 || date.getDate() === 5);
                },
                myfunc(obj){
                    alert("obj")
                    console.log(obj);
                }

            }
        });

        new Vue({
            el: '#loo',

            methods: {
                say: function (message) {
                    alert(message)
                },
                dayOfWeek: function(){
                    return (a.getDay() === 0 || date.getDay() === 6);
                },
                dateOfMonth: function(date){
                    return (date.getDate() === 3 || date.getDate() === 5);
                },
                daysFromNow: function (number){
                    return new Date().fp_incr(number)
                },
                myfunc(obj){
                    alert("")
                    console.log(obj);
                },
            },
            openDatepicker: function (selectedDates){},
            onOpen:function(selectedDates, dateStr, instance){
                    console.log(selectedDates)
                        //...
                    }


        })
        //btn.addEventListener("click", myalert() {
            //Do something here
        //    alert("Hello! I am an alert box!!");
        //}, false);
        /*
            function myalert(){
                alert("Hello! I am an alert box!!");
                return;
            }
            function dayOfWeek(date) {
                // return true to disable

                return (date.getDay() === 0 || date.getDay() === 6);

            }

            document.getElementById("loo").innerHTML = dayOfWeek(date);
            function dateOfMonth(date) {
                // return true to disable
                return (date.getDate() === 3 || date.getDate() === 6);

            }
            document.getElementById("loo").innerHTML = dateOfMonth(date);
        */
    </script>

    {{ parent() }}
{% endblock %}
