{% sw_extends '@Storefront/storefront/page/content/index.html.twig' %}

{% block base_main_inner %}
    <div class="row">
        <div class="col-md-4" style="margin: 20px">



            {% set pickerProperties = {

                locale: app.request.locale,
                enableTime: false,
                mode: 'multiple',
                minDate : context.context.extensions.testContextExtension['key1'],
                maxDate : context.context.extensions.testContextExtension['key2'],

                disable: [config('MyAboshop.config.mydatepicker')],
                dateFormat: "Y-m-d"

            } %}
            <label>
                {{ dump(config('MyAboshop.config.mydatepicker')) }}
                {{ dump(page.extensions.testPageExtension['key1']) }}
                {% set myArray = [] %}
                {% for i in  [config('MyAboshop.config.mydatepicker')] %}
                    {% set myArray = myArray|merge([i]) %}

                {% endfor %}
                {{ dump(MyArray) }}
                <input type="text"
                       name="foo"
                       class="customDate"
                       value=["2021-09-12T00:12:15+00:00","2021-09-13T00:12:15+00:00"]
                       data-date-picker
                       data-date-picker-options="{{ pickerProperties|json_encode|escape('html_attr') }}"

                />

            </label>

        </div>
    </div>

    {{ parent() }}
{% endblock %}
