{% sw_extends '@Storefront/storefront/page/checkout/_page.html.twig' %}

{% block base_head %}
    {% sw_include '@Storefront/storefront/page/checkout/confirm/meta.html.twig' %}
{% endblock %}
{% block base_header %}
    {% sw_include '@Storefront/storefront/layout/header/header-minimal.html.twig' %}
{% endblock %}
{% block base_navigation %}{% endblock %}
{% block page_checkout_main_content %}
    {% block page_checkout_confirm %}
        {% block page_checkout_confirm_header %}
            <h1 class="confirm-main-header">
                {{ "checkout.confirmHeader"|trans|sw_sanitize }}
            </h1>
        {% endblock %}
        {% block page_checkout_confirm_alerts %}
            {% block page_checkout_confirm_violations %}
                {% for violation in formViolations.getViolations() %}
                    {% set snippetName = "error.#{violation.code}" %}
                    {% set fieldName = violation.propertyPath|trim('/', 'left') %}
                    {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                        type: "danger",
                        content: snippetName|trans({'%field%': fieldName})|sw_sanitize
                    } %}
                {% endfor %}
            {% endblock %}
        {% endblock %}
        {% block page_checkout_confirm_tos %}
            <div class="confirm-tos">
                <div class="card checkout-card">
                    <div class="card-body">
                        {% block page_checkout_confirm_tos_header %}
                            <div class="card-title">
                                {{ "checkout.confirmTermsHeader"|trans|sw_sanitize }}
                            </div>
                        {% endblock %}
                        {% block page_checkout_confirm_revocation_notice %}
                            {% if config('confirm.revocationNotice') %}
                                <p class="revocation-notice">
                                    {% block page_checkout_confirm_revocation_notice_link %}
                                        <a href="{{ path('frontend.cms.page',{ id: config('core.basicInformation.revocationPage') }) }}"
                                           data-toggle="modal"
                                           title="{{ "checkout.confirmRevocationNotice"|trans|striptags }}"
                                           data-url="{{ path('frontend.cms.page',{ id: config('core.basicInformation.revocationPage') }) }}">
                                            {{ "checkout.confirmRevocationNotice"|trans|sw_sanitize }}
                                        </a>
                                    {% endblock %}
                                </p>
                            {% endif %}
                        {% endblock %}
                        {% block page_checkout_confirm_tos_control %}
                            <div class="custom-control custom-checkbox">
                                {% block page_checkout_confirm_tos_control_checkbox %}
                                    <input type="checkbox"
                                           class="checkout-confirm-tos-checkbox custom-control-input{% if formViolations.getViolations('/tos') is not empty %} is-invalid{% endif %}"
                                           required="required"
                                           id="tos"
                                           form="confirmOrderForm"
                                           name="tos"/>
                                {% endblock %}
                                {% block page_checkout_confirm_tos_control_label %}
                                    <label for="tos"
                                           class="checkout-confirm-tos-label custom-control-label">
                                        {{ "checkout.confirmTerms"|trans({
                                            '%url%': path('frontend.cms.page',{ id: config('core.basicInformation.tosPage') })
                                        })|raw }}
                                    </label>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block page_checkout_confirm_address %}
            <div class="confirm-address">
                {% sw_include '@Storefront/storefront/page/checkout/confirm/confirm-address.html.twig' %}
            </div>
        {% endblock %}
        {% block page_checkout_confirm_payment_shipping %}
            <div class="confirm-payment-shipping">
                <div class="row">
                    {% block page_checkout_confirm_payment %}
                        <div class="col-sm-6 confirm-payment">
                            {% sw_include '@Storefront/storefront/page/checkout/confirm/confirm-payment.html.twig' %}
                        </div>
                    {% endblock %}
                    {% block page_checkout_confirm_shipping %}
                        <div class="col-sm-6 confirm-shipping">
                            {% sw_include '@Storefront/storefront/page/checkout/confirm/confirm-shipping.html.twig' %}
                        </div>
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
        {% block page_checkout_confirm_product_table %}
            <div class="confirm-product">
                {% block page_checkout_confirm_table_container %}
                    <div class="card">
                        <div class="card-body">
                            {% block page_checkout_confirm_table_header %}
                                {% sw_include '@Storefront/storefront/page/checkout/confirm/confirm-product-header.html.twig' %}
                            {% endblock %}
                            {% block page_checkout_confirm_table_items %}
                                {% for lineItem in page.cart.lineItems %}
                                    {% block page_checkout_confirm_table_item %}
                                        {% sw_include '@Storefront/storefront/page/checkout/confirm/confirm-item.html.twig' %}
                                    {% endblock %}
                                {% endfor %}
                            {% endblock %}
                        </div>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
        {% block page_checkout_confirm_hidden_line_items_information %}
            {% sw_include '@Storefront/storefront/component/checkout/hidden-line-items-information.html.twig' with {
                lineItems: page.cart.lineItems
            } %}
        {% endblock %}
    {% endblock %}
{% endblock %}

{% block page_checkout_additional %}
    {{ parent() }}
    <div class="row" style="margin-left: 225px">

        {% if config('MyAboshop.config.fieldtype1') == "text" or config('MyAboshop.config.fieldtype1') == "checkbox" %}
            <div class="col-md-4" style="margin-top: 5px">
                <input type="{{ config('MyAboshop.config.fieldtype1') }}" id="firstfield">
                <label for="fieldtype1">{{ config('MyAboshop.config.label1') }}</label><br>
            </div>

        {% elseif config('MyAboshop.config.fieldtype1') == "date"%}
            <div class="col-md-4" style="margin: 20px">
                {% set foo = config('MyAboshop.config.mydatepicker')|split(',') %}
                {% set pickerProperties = {
                    locale: app.request.locale,
                    enableTime: false,
                    disable: foo,
                    mode:"multiple",
                    minDate : context.context.extensions.testContextExtension['key1'],
                    maxDate : context.context.extensions.testContextExtension['key2'],
                    dateFormat: "Y-m-d"

                } %}
                <label>
                    <input type="text"
                           name="firstfield"
                           class="customDate"
                           value="2021-07-13T00:12:15+00:00"
                           data-date-picker
                           data-date-picker-options="{{ pickerProperties|json_encode|escape('html_attr') }}"
                           id="firstfield"
                    />
                </label>
                <label for="fieldtype1">{{ config('MyAboshop.config.label1') }}</label><br>

            </div>
        {% else %}
            <div class="col-md-4" style="margin-top: 5px">
                <select name="firstfield" id="firstfield"  >
                    <option value="" disabled selected>Select your option</option>
                    {% for i in config('MyAboshop.config.textarea1') |split('\n') %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
                <label for="fieldtype1">{{ config('MyAboshop.config.label1') }}</label><br>
            </div>
        {% endif %}
        <!--
        <div class="col-md-12" style="margin-top: 5px">

            <p>{{ config('MyAboshop.config.label1') }}</p>
        </div>
        -->
        <!--
        <div class="col-md-12" style="margin-top: 5px">

            <h6>{{ config('MyAboshop.config.label2') }}</h6>

        </div>
        -->
        {% if config('MyAboshop.config.fieldtype2') == "text" or config('MyAboshop.config.fieldtype2') == "checkbox" %}
            <div class="col-md-4" style="margin-top: 5px">
                <input type="{{ config('MyAboshop.config.fieldtype2') }}" id="secondfield">
                <label for="fieldtype2">{{ config('MyAboshop.config.label2') }}</label><br>
            </div>
        {% elseif config('MyAboshop.config.fieldtype2') == "date"%}

            <div class="col-md-4" style="margin: 20px">
                {% set foo = config('MyAboshop.config.mydatepicker')|split(',') %}
                {% set pickerOptions = {
                    locale: app.request.locale,
                    enableTime: false,
                    mode:"multiple",
                    minDate : context.context.extensions.testContextExtension['key1'],
                    maxDate : context.context.extensions.testContextExtension['key2'],
                    disable: foo,
                    dateFormat: "Y-m-d"
                } %}
                <label>
                    <input type="text"
                           name="secondfield"
                           class="customDate"
                           value="2021-07-13T00:12:15+00:00"
                           data-date-picker
                           data-date-picker-options="{{ pickerOptions|json_encode|escape('html_attr') }}"
                           id="secondfield"
                    />
                </label>
                <label for="fieldtype2">{{ config('MyAboshop.config.label2') }}</label><br>

            </div>
        {% else %}
            <div class="col-md-4" style="margin-top: 5px">
                <select name="secondfield" id="secondfield" >
                    <option value="" disabled selected>Select your option</option>
                    {% for i in config('MyAboshop.config.textarea2') |split('\n') %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
                <label for="fieldtype2">{{ config('MyAboshop.config.label2') }}</label><br>
            </div>
        {% endif %}
        <!--
        <div class="col-md-12" style="margin-top: 5px">

            <h6>{{ config('MyAboshop.config.label3') }}</h6>
        </div>
        -->
        {% if config('MyAboshop.config.fieldtype3') == "text" or config('MyAboshop.config.fieldtype3') == "checkbox" %}
            <div class="col-md-4" style="margin-top: 5px">
                <input type="{{ config('MyAboshop.config.fieldtype3') }}" id="thirdfield">
                <label for="fieldtype3">{{ config('MyAboshop.config.label3') }}</label><br>
            </div>
        {% elseif config('MyAboshop.config.fieldtype3') == "date"%}
            <div class="col-md-4" style="margin: 20px">


                {% set foo = config('MyAboshop.config.mydatepicker')|split(',') %}
                {% set mypickerProperties = {
                    locale: app.request.locale,
                    enableTime: false,

                    mode:"multiple",
                    minDate : context.context.extensions.testContextExtension['key1'],
                    maxDate : context.context.extensions.testContextExtension['key2'],
                    enableTime : false,
                    disable: foo,
                    dateFormat: "Y-m-d"

                } %}
                <label>
                    <input type="text"
                           name="thirdfield"
                           class="customDate"
                           value="2021-07-13T00:12:15+00:00"
                           data-date-picker
                           data-date-picker-options="{{ mypickerProperties|json_encode|escape('html_attr') }}"
                           id="thirdfield"
                    />

                </label>
                <label for="fieldtype3">{{ config('MyAboshop.config.label3') }}</label><br>

            </div>
        {% else %}
            <div class="col-md-4" style="margin-top: 5px">
                <select name="thirdfield" id="thirdfield" >
                    <option value="" disabled selected>Select your option</option>
                    {% for i in config('MyAboshop.config.textarea3') |split('\n') %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
                <label for="fieldtype3">{{ config('MyAboshop.config.label3') }}</label><br>
            </div>




        {% endif %}
    </div>
    <!--
    {{ dump(config('MyAboshop.config.fieldtype1')) }}
    {{ dump(config('MyAboshop.config.fieldtype2')) }}
    {{ dump(config('MyAboshop.config.fieldtype3')) }}
    -->
{% endblock %}
{% block page_checkout_aside_actions %}
    <div class="checkout-aside-action">
        <form id="confirmOrderForm"
              action="{{ path('frontend.checkout.finish.order') }}"
              data-form-csrf-handler="true"
              data-form-preserver="true"
              data-form-submit-loader="true"
              method="post">
            {% block page_checkout_aside_actions_csrf %}
                {{ sw_csrf('frontend.checkout.finish.order') }}
            {% endblock %}
            {% block page_checkout_confirm_form_submit %}
                <button id="confirmFormSubmit"
                        class="btn btn-primary btn-block btn-lg"
                        form="confirmOrderForm"
                        {% if page.cart.errors.blockOrder %}
                            disabled
                        {% endif %}
                        type="submit">
                    {{ "checkout.confirmSubmit"|trans|sw_sanitize }}
                </button>
            {% endblock %}
        </form>
    </div>
{% endblock %}
{% block base_footer %}
    {% sw_include '@Storefront/storefront/layout/footer/footer-minimal.html.twig' %}
{% endblock %}
