{% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig' %}

{% block layout_footer_navigation_hotline_headline  %}
    <h6>Asset:</h6>
    {# Using asset function to display our custom asset #}
    <div class="row">
        <div class="col-md-2">
            <img src="bundles/myimages/{{ context.context.extensions.testContextExtension['key1'] }}" style="height: 25px; width: 25px">
        </div>
        <div class="col-md-2">
            <img src="bundles/myimages/{{ context.context.extensions.testContextExtension['key2'] }}" style="height: 25px; width: 25px">
           </div>
        <div class="col-md-2">
            <img src="bundles/myimages/{{ context.context.extensions.testContextExtension['key3'] }}" style="height: 25px; width: 25px">
        </div>
        <div class="col-md-2">
            <img src="bundles/myimages/{{ context.context.extensions.testContextExtension['key4'] }}" style="height: 25px; width: 25px">
        </div>
        <div class="col-md-2">
            <img src="bundles/myimages/{{ context.context.extensions.testContextExtension['key5'] }}" style="height: 25px; width: 25px">
        </div>
    </div>
    {{ parent() }}
{% endblock %}